/__pycache__/
**/__pycache__/
*.pyc
/.rnd
/AE-Font-Preview-v1.0.0.zip
/AE-Font-Preview.zxp
/BrowserTools-extension
/BrowserTools-extension.zip
/CascadeProjects
/DEBUG_STEPS.md
/ElysianCert.p12
/FIXES_APPLIED.md
/TROUBLESHOOTING.md
/ZXPSignCmd.exe
/Adobe After Effects Auto-Save
/bin/**/*
!/bin/win/README.txt
!/bin/mac/README.txt
/python/build/
/python/dist/
/python/*.spec
